<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Meteo-app</title>
  </head>
  <body>
    <div class="search-city-container">
      <form action="/submit" method="POST">
        <input
          type="text"
          name="cityName"
          id="cityName"
          placeholder="Enter the name of the city"
          required
        />
        <input type="submit" value="Search" />
      </form>

      <!--
      <%if(locals.latitude && locals.longitude){ %>
      <p><%=latitude %> <%=longitude %> <%=city %> <%=state %></p>
      <% }else{ %>
      <p>NO CITY FOUND</p>

      <%} %>
      -->

      <% if (locals.city && locals.state) { %>
      <form action="/post-city" method="POST">
        <!-- Hidden inputs to pass city and state -->
        <input type="hidden" name="city" value="<%= city %>" />
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="latitude" value="<%= latitude %>" />
        <input type="hidden" name="longitude" value="<%= longitude %>" />

        <!-- Display the city and state on the button -->
        <button type="submit">
          <h1><%= city %></h1>
          <h3><%= state %></h3>
        </button>
      </form>
      <% } %>

      <!-- <form action="/get" method="POST">
        <button>
          <h1>Thessaloniki</h1>
          <h3>Central Macedonia , Greece</h3>
        </button>
      </form>-->

      <% if (locals.weather) { %>
      <div class="weather-card-container">
        <div class="city-information">
          <h1><%=cityName %> (<%=stateName %>) , <%=weather.sys.country %></h1>
          <p><%=currentDate %></p>
        </div>
        <div class="weather-details-container">
          <div class="weather-image-container">
            <img
              src="assets/images/weather-news.png"
              alt="A weather icon"
              width="200px"
              height="150px"
            />
          </div>
          <div class="border"></div>

          <div class="weather-details">
            <div>
              <h3><%= weather.main.temp %>째C</h3>
              <p>Temperature</p>
            </div>
            <div>
              <h3><%= weather.weather[0].description %></h3>
              <p>Weather</p>
            </div>
            <div>
              <h3><%= weather.weather.main %></h3>
            </div>
            <div>
              <h3><%= weather.wind.speed %></h3>
              <p>Wind(miles/h)</p>
            </div>
            <div>
              <h3><%= weather.main.feels_like %>째C</h3>
              <p>Feels like</p>
            </div>
            <div>
              <h3><%= weather.main.sea_level %></h3>
              <p>Sea level</p>
            </div>

            <div>
              <h3><%= weather.main.temp_max %>째C</h3>
              <p>Max Temperature</p>
            </div>
            <div>
              <h3><%= weather.main.temp_min %>째C</h3>
              <p>Min Temperature</p>
            </div>
          </div>
        </div>

        <div class="more-details">
          <div>
            <h3><%= weather.coord.lat %></h3>
            <p>Latitude</p>
          </div>
          <div>
            <h3><%= weather.coord.lon %></h3>
            <p>Longitude</p>
          </div>
          <div>
            <h3><%= weather.clouds.all %>%</h3>
            <p>Cloud</p>
          </div>
          <div>
            <h3><%= weather.main.humidity %>%</h3>
            <p>Humidity</p>
          </div>
          <div>
            <h3><%= weather.main.pressure %> mb</h3>
            <p>Pressure(millibars)</p>
          </div>
        </div>
      </div>
      <% } %>
      <!--
      <div class="weather-card-container">
        <div class="city-information">
          <h1>Thessaloniki (Central Macedonia) , Greece</h1>
          <p>10 December 2024, 4:24 PM (Tuesday)</p>
        </div>
        <div class="weather-details"></div>
        <div class="more-details"></div>
      </div>
    --></div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
