<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Meteo-app</title>
  </head>
  <body>
    <div class="search-city-container">
      <form action="/submit" method="POST">
        <input
          type="text"
          name="cityName"
          id="cityName"
          placeholder="Enter the name of the city"
          required
        />
        <input type="submit" value="Search" />
      </form>

      <!--
      <%if(locals.latitude && locals.longitude){ %>
      <p><%=latitude %> <%=longitude %> <%=city %> <%=state %></p>
      <% }else{ %>
      <p>NO CITY FOUND</p>

      <%} %>
      -->

      <% if (locals.city && locals.state) { %>
      <form action="/post-city" method="POST">
        <!-- Hidden inputs to pass city and state -->
        <input type="hidden" name="city" value="<%= city %>" />
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="latitude" value="<%= latitude %>" />
        <input type="hidden" name="longitude" value="<%= longitude %>" />

        <!-- Display the city and state on the button -->
        <button type="submit">
          <h1><%= city %></h1>
          <h3><%= state %></h3>
        </button>
      </form>
      <% } %>

      <!-- <form action="/get" method="POST">
        <button>
          <h1>Thessaloniki</h1>
          <h3>Central Macedonia , Greece</h3>
        </button>
      </form>-->
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
